[submodule "notebooks/057d6a4aab839015fb7c8f82ddb2b930"]
	path = notebooks/jupyter-to-javascript
	url = https://gist.github.com/057d6a4aab839015fb7c8f82ddb2b930
[submodule "notebooks/bf04e26504a6d4f983a69c89b815681a"]
	path = notebooks/nonsense-text
	url = https://gist.github.com/bf04e26504a6d4f983a69c89b815681a
[submodule "notebooks/33de8e03c44982b0eedf92ff513638c5"]
	path = notebooks/what's-in-my-documents
	url = https://gist.github.com/33de8e03c44982b0eedf92ff513638c5
[submodule "notebooks/d24ed340b5aea2a84dbc265679f12f05"]
	path = notebooks/what's-cooking
	url = https://gist.github.com/d24ed340b5aea2a84dbc265679f12f05
[submodule "notebooks/pyscript-test"]
	path = notebooks/pyscript-test
	url = https://gist.github.com/bennokr/4577ff135f1ccbe0604ecb464a4eebae
